 [package]
 name = "market"
 version = "0.1.0"
 edition = "2021"

 [lib]
 crate-type = ["cdylib", "rlib"]
 path = "src/lib.rs"

 [dependencies]
 async-trait.workspace = true
 linera-sdk.workspace = true
 serde.workspace = true
 serde_json.workspace = true
 thiserror.workspace = true



